 a{
     text-decoration: none;
 }
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.butrig{
    width: 27px;
    height: 200px;
    /*background: red;*/
    position:fixed;
    right:34px;
    bottom: 150px;
}
 .butrig ul li a i:hover{
     color: #ff6700;
 }
.butrig ul li a i{
    color: #b7b7b7;
    display: block;
    width: 25px;
    height: 39px;
    background: #ffffff;
    margin-left: 1px;
    font-size:27px ;
    border-top: 1px solid #f5f5f5;
}
 .icon-huidingbu{
     margin-top: 40px;
 }
.middle{
    width: 1226px;
    height: 100%;

    margin: 0 auto;
}
.head{
    width:100%;
    height: 40px;
    background: #333333;


}
.list{
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: none;
    border-right: 1px solid #423d39;
    padding-left: 8px;
    padding-right: 9px;
    float: left;
    margin-top: 12px;
}
.list1{
    padding-left: 0;
}
.list2{
    border-right: 0;
    padding-right: 0;
}
.banner{
    width: 1226px;
    height: 460px;
    background: black;
    margin: 0 auto;
    position: relative;

}
.switchover{
    width: 41px;
    height: 69px;
    /*background:red;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 234px;
    margin: auto 0;
    z-index:100 ;
    background-image: url("../img/images/icon-slides.png");
    background-position: -83px 0;

}
 .switchover:hover{
     background-position: 0 0;
 }
 .switchoverr{
     width: 41px;
     height: 69px;
     /*background:red;*/
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     margin: auto 0;
     z-index: 100;
     background-image: url("../img/images/icon-slides.png");
     background-position: 41px 0;

 }
 .switchoverr:hover{
     background-position: 124px 0;
 }
 .banner-img li{
     width: 1226px;
     height: 460px;
     position: absolute;
     top:0;
     left:0;

 }
.banner-img li a img{
    display:block;
    width: 100%;


}
.banner-img{
    position: relative;
}
.navigation{
    position: absolute;
    width: 234px;
    height: 440px;
    padding-top: 20px;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: 100;


}
.navigation li:hover{
    background:#ff6700;
}
.navigation a{
    display: block;
    width: 100%;
    height: 42px;
}
.navigation a span{
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 42px;
    margin-left: 30px;
}
.hidden{
    width:992px;
    height:0px;
    background:red;
    position:absolute;
    top:0;
    left:234px;
    overflow: hidden;
    z-index: 100;

}
.navigation-character{
    float: left;
}
.Round-frame{
    width: 90px;
    height: 60px;


    position: absolute;
right: 0;
    bottom: 0;
    z-index: 100;
}
.round-frame{
    border-radius: 50%;
    float: left;
    width: 6px;
    height: 6px;
    background: #92897c;
    border: 2px solid #b3ada4;
    margin-right: 10px;
   margin-top: 25px;

}
 .round-frame:hover{
     background: #fff;
 }
 .Round-frame div:first-child{
     background: #fff;

 }

 .Round-frame div:last-child{
    margin-right: 0;
    /*background: #ffffff;*/
}

.sign{
    display: block;
    float: right;
    font-weight: bold;
    margin-right: 24px;
}

.headl{
    height: 100%;
    width: 850px;

    float: left;


}

.headr{
    height: 100%;
    width: 300px;
    float: right;

}
.headrl{
    float: left;
}
.headrr{
    height: 100%;
    width: 120px;
    float: right;
    background: #424242;
    position: relative;
}

 .icon-gouwuchekong{
     display: block;
     font-size: 14px;
     text-align: center;
     line-height: 40px;
     color:#acb0b0;

 }
 .icon-gouwuchekong:hover{
     background: white;
     color: #ff6700;
 }

.list:hover{
    color: white;
}
 .hidbox{
     width:316px;
     /*height:100px;*/
     height:0;
     background:red;
     position:absolute;
     top:40px;
     right:0px;
     overflow: hidden;
     /*font-size: 6px;*/
 }
.rectangle{
    width: 1226px;
    height: 100px;

    margin: 0 auto;
}
.logo{
    width: 55px;
    height: 55px;

    float: left;
    margin-top: 22px;
}
.rectanglem{
    width: 597px;
    height:100% ;

    float: left;
    margin-left: 189px;
    /*color: black;*/
}
.rectanglem ul li{
    float: left;
    margin-right: 20px;
    line-height: 100px;
}
.rectanglem  ul li:nth-child(10){
    margin-right: 0;
}
 .rectanglem ul li a {
 color: black;
 }
 .rectanglem ul li a:hover{
     color:#ff6700 ;

 }






 .search{
    width: 296px;
    height: 50px;
    /*background: aqua;*/
    float: right;

    margin-top: 25px;
    /*font-size: 52px;*/
}
.search input{
    display: block;
    width: 245px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
 .icon-sousuo{
     display: block;
     width: 49px;
     height: 48px;
     /*background: #83c44e;*/
     float: right;
     font-size: 20px;
     /*margin-top: 14px;*/
     text-align: center;
     line-height: 50px;
     border: 1px solid #e0e0e0;
 }
 .icon-sousuo:hover{
     background:#ff6700 ;
 }

ul li{
    list-style: none;
}
.xuangouback{
    width: 1226px;
    height: 172px;
    /*background: yellow;*/
    margin: 14px auto 14px;
}
.xgbl{
    width: 234px;
    height: 169px;
    background: #5f5750;
    float: left;
}
.xgbl ul li a{
    display: block;
    width: 70px;
    height: 64px;
    /*background: #c1d6fa;*/
    border-bottom:1px solid #665e57;
    margin: 0 auto;

}
 .xgbl ul li a:hover i{
     color:white;
 }
 .xgbl ul li a:hover i{
     color:white;
 }
 .xgbl ul li a i:hover spal{
     color:white;
 }
/*.bia:hover:ic{*/
   /*color: white;*/
/*}*/
 .xgbl ul li{
     width: 76px;
     height: 82px;
     background: #5f5750;
     float: left;
     border-right:1px solid #665e57;
 }
 .lil{
     margin-top: 5px;
 }
 .xgbl ul li a:hover{
     color: white;
 }
.bia:hover{
    color: white;
}
 .xgbl ul li a i{
     display: block;
     font-size: 24px;
     text-align: center;
     /*margin: 0 auto;*/
     color:#cfcdcb;
     background: #5f5750;
     margin-top: 11px;
 }
 .xgbl ul li a span{
     color:#cfcdcb ;
background: #5f5750 ;
     text-align: center;
     display: block;
     font-size: 11px;


 }
 .bia{
   /*color: white;*/
     display: block;
 }


.xgbr{
    width: 978px;
    height: 169px;
    /*background: blue;*/
    float: right;
}
.xgbr img{
    width: 316px;
    height: 169px;
    display: block;
    float: left;
    margin-right: 15px;
    transition: all .3s linear;
}
 .xgbr img:hover{
     /*transform: translateY(-5px);*/
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.2);

 }
.xgbr img:nth-child(3){
 margin-right: 0px;
}

.oblong{
    width: 1226px;
    height: 62px;
/*background: blue;*/
    margin: 0 auto;
}
.oblongl{
    width: 100px;
    height: 62px;

    line-height: 62px;
    font-size: 21px;
    text-align: center;
    float: left;
}
.oblongr{
    width: 34px;
    height: 22px;
    /*background: yellow;*/
    float: right;
    text-align: center;
    line-height: 62px;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-top:30px ;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #b0b3bf;

}
.oblongrr{
    border-right: 1px solid white;
}
.flash-purchase{
    width: 1226px;
    height: 340px;
    /*background: gold;*/
    margin: 0 auto;
}
.flash-box{
    width: 234px;
    height: 339px;
    background:#f1eded;
    margin-right: 14px;
    float: left;
    border-top: 1px solid #e53935;
}
 .fb1{
     border-top: 1px solid #ffac13;
 }
 .fb2{
     border-top: 1px solid #83c44e;

 }
 .fb3{
     border-top: 1px solid #2196f3;

 }
 .fb4{
     border-top: 1px solid #e53935;

 }
 .backgr{
     background: #f5f5f5;
 }
.flash-purchase div:last-child{
    margin-right: 0;
}
.flash-box-p{
   width: 104px;
    height: 117px;
    background: white;
}
.flash-box-w{
    display: block;
    width: 76px;
    height: 19px;
    /*background: red;*/
    margin-top: 60px;
    margin-left: 79px;
}
.flash-box-p{
    margin-left: 63px;

}
.flash-box-p img{
    display: block;
    width: 100%;
    height: 100%;
    background: #f1eded;
}

.flash-box-b{
    width: 168px;
    height: 46px;
    background: blue;
    margin-left: 33px;

    float: bottom;
    margin-top: 34px;
}
.flash-box-pb{
    display: block;
    width: 89px;
    height: 13px;
    /*background:coral;*/
    font-size: 13px;
    margin-left: 72px;
    margin-top: 4px;
}
.flash-box-bword{
    width: 46px;
    height: 46px;
    background: #605751;
    float: left;
    text-align: center;
    line-height: 46px;
    font-size: 17px;
    color: #ffffff;
}
.flash-box-b-punctuate{
    width: 15px;
    height: 46px;
    background:#f1eded;
    float: left;
    text-align: center;
    line-height: 46px;
    font-size: 15px;
    color:#605751;
}
.same-cheek{
    width: 234px;
    height: 220px;
    background: white;
}
.same-cheek img{
    display: block;
    width:235px ;
    height: 220px;
    background:#fafafa;
}
.title{
    color: #202020;
    font-size: 12px;
    margin-top: 11px;
    text-align: center;
    line-height: 100%;
}
.stage{
    font-size: 12px;
    color: #c1d6fa;
    margin-top: 11px;
    text-align: center;
    line-height: 100%;
}
.price{
    margin-top: 20px;
    text-align: center;
    line-height: 100%;
}
.price span{
    color: #fa6509;
}
.price del{
    color: #c1d6fa;
}

.mi8{
    display: block;
    width: 1226px;
    height: 120px;
    margin: 44px auto 44px;
}

.iphone{
    width: 1226px;
    height: 672px;
    /*background: black;*/
    margin: 0 auto;
    margin-top: 21px;
}
.iphone-head{
    width: 1226px;
    height: 58px;
    /*background: red;*/
}
.iphone-r{
     width: 100px;
     height: 58px;
    /*background:green ;*/
    float: right;
    position: relative;
}
.iphone-head h2{
    font-weight: normal;

    float: left;
    font-size: 21px;
    line-height: 58px;
    color:#333;
}
.iphone-r h3{
    font-size: 15px;
    font-weight: normal;
    line-height: 58px;
    /*float: left;*/
    color: #424242;
    left: 0;
    bottom: 9px;
}
.extension{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #b0b0b0;
    color: white;
    /*float:right ;*/
    position: absolute;
    right: 9px;
    bottom: 21px;
    text-align: center;
    line-height: 23px;
}
.iphone-middle{
  width: 1226px;
    height: 614px;
    /*background: yellow;*/

}
.xiaomimax3{
    width: 234px;
    height: 614px;
    /*background: blue;*/
    float: left;
    transition: all 0.5s linear;
}
 .xiaomimax3:hover{
     transform: translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);
 }


.xiaomimax3 img{
    display: block;
    width: 234px;
    height: 614px;

}
.imidp{
    display: block;
    width: 234px;
    height: 199px;
}
 .rem{
     height: 12px;
     font-weight: normal;
     margin-left: 94px;
     color: #333333;



 }
 .AI{
     display: block;
     margin-top: 9px;
     font-size: 11px;
     color: #b0b0b0;
     text-align: center;

 }
 .AIp{
     display: block;
     color: #ff6700;
     font-size: 10px;
     margin-top: 20px;
     text-align: center;
 }
.iphone-middler{
    width: 978px;
    height:614px ;
    /*background: palegreen;*/
    float: right;
}
.iphone-middler ul li{
    width: 234px;
    height: 300px;
    /*background: palevioletred;*/
    float: left;
    margin-right: 14px;
    transition: all 0.5s linear;
    overflow: hidden;



}
 .iphone-middler ul li:hover{
     transform: translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);

 }




.iphone-middler ul li:nth-child(4n){
    margin-right: 0;
}
 .iphone-middler ul li:nth-child(5){
      margin-top:14px;
  }
 .iphone-middler ul li:nth-child(6){
     margin-top:14px;
 }
 .iphone-middler ul li:nth-child(7){
      margin-top:14px;
  }
 .iphone-middler ul li:nth-child(8){
       margin-top:14px;
   }
.pic{
    margin-top: 0;
}
.picture pic ul li:nth-child(2){
 color:#bdb0c9 ;
}
.picture pic ul li:last-child{
    color: red;
}
.appliance{
    width: 1226px;
    height: 686px;
    /*background: brown;*/
    margin: 0 auto;
    margin-top: 20px;
}
.applicance-head{
    width: 1226px;
    height: 60px;
    /*background: yellow;*/
    position: relative;
}
 .applicance-head h3{
     font-size: 20px;
     font-weight: normal;
     line-height: 60px;
     color: #333333;
 }
 .applicance-headr{
     width: 253px;
     height: 16px;
     background: white;
     position: absolute;
     right: 0;
     bottom: 21px;
     background: #f5f5f5;

 }
 .applicance-headr span:hover{
     color: red;

 }
 .applicance-headr span{
     display: block;
     font-size: 16px;
     color: #424242;
     float: left;
     padding-right: 30px;
 }
  /*span .applicance-headrl{*/
     /*padding-right: 0px;*/
 /*}*/

 .applicance-headr span:last-child{
     padding-right: 0px;
 }
 .appliance-middle{
     width: 1226px;
     height: 626px;
     /*background: #00a0c1;*/
     position: relative;
 }
 .appliance-middle-l{
     width: 234px;
     height: 626px;
     /*background: #39383e;*/
     float: left;
 }
 .appliance-middle-l ul li{
     transition: all .5s linear;
 }
 .appliance-middle-l ul li:hover{
     transform:translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);
 }


 .appliance-middle-l ul li a img{
     display: block;
     width: 234px;
     height: 300px;
 }
.alast{
    margin-top: 14px;
}
.appliance-middle-r{
    width: 969px;
    height: 626px;
    background: #c1d6fa;
    float: right;
    position: absolute;
    top:0;
    right:0;
    z-index: 5;
}
.appliance-middle-r li{
    width: 234px;
    height: 302px;
    background: white;
    margin-right: 11px;
    float: left;
    position: relative;
    transition: all .5s linear;

    overflow: hidden;


}
.pop{
    float: left;
    width: 234px;
    height: 76px;
    background: #ff6700;
    position: absolute;
    left: 0;
    bottom: -76px;
    transition: all .5s linear;

}
.pop p{
    /*display: block;*/
    font-size: 11px;
    color: white;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp:2;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    margin-top: 11px;
    margin-left: 29px;
    margin-right: 29px;


}
.pop span{
    display: block;
    font-size: 11px;
    color: #ffc299;
    margin-top: 8px;
    text-align: center;
}
.appliance-middle-r ul li:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);
}
.appliance-middle-r li:hover .pop{
    bottom:0px;
}

 .af:hover {
     transform:translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);

 }


 .to{
     width: 234px;
     height: 144px;
     /*background: red;*/
     transition: all .5s linear;
 }
 .to:hover{
     transform: translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);
 }
 .bt{
     width: 234px;
     height: 144px;
     background: white;
     margin-top: 13px;
     transition: all .5s linear;

 }
 .bt:hover{
     transform: translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);
 }


 .appliance-middle-r a img{
     display: block;
     width:235px ;
     height: 190px;
     background:#f5f5f5;

 }
 .appliance-middle-r li:nth-child(4n){
     margin-right: 0;
 }
 .af{
     margin-top: 14px;
 }
 .as{
     margin-top: 14px;
     background: #f5f5f5;
 }
 .appliance-middle-r li:nth-child(8){
     background: #f5f5f5 ;
 }
 .hzw{
     width: 114px;
     height: 144px;
     /*background: #83c44e;*/
     float: left;
     background: white;
 }
 .hz{
     float: right;
 }
 .xp{
     display: block;
     color:#ff6700;
     font-size: 11px;
     text-align: center;
     margin-top: 15px;
 }
 .xpl{
     display: block;
     font-weight: normal;
     font-size: 12px;
     color: #333;
     margin-top: 44px;
     text-align: center;
 }
 .xpr{
     color: #757575;
     margin-top: 7px;
 }
 .xpll{
     font-size: 14px;
 }
 .hz a img{
     display: block;
     width: 120px;
     height: 144px;
     /*background: #f5f5f5;*/
 }
 .icon-buoumaotubiao08{
     display: block;
     width: 120px;
     height: 144px;
     font-size: 47px;
     text-align: center;
     line-height: 144px;
     color: #ff6700;
 }
 .foryou{
     width: 1226px;
     height: 360px;
     /*background: red;*/
     margin: 0 auto;
     margin-top: 20px;

 }
 .foryou-head{
     width:1226px ;
     height: 60px;
     /*background: yellow;*/
 }
 .foryou-middle{
     width: 1226px;
     height: 300px;
     /*background: black;*/

 }
 .foryou-middle ul li{
     width: 234px;
     height: 300px;
     /*background: #72ff88;*/
     margin-right: 14px;
     float: left;
     transition: all .2s linear;
 }
 .foryou-middle ul li:hover{
     transform: translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);
 }

 .foryou-middle ul li:last-child{
     margin-right: 0;
 }

.foryou-middle ul li a img{
    width: 234px;
    height: 197px;
}
 .foryou-middle ul li a h3{
     font-size: 12px;
     font-weight: normal;
text-align: center;
     color: #333333;
     margin-top: 8px;

 }
 .foryou-middle ul li a p span{
     display: block;
     font-size: 12px;
 }
 .fyprice{
     color: #ff6700;
     text-align: center;
     margin-top:16px ;
 }
 .fyb{
     color: #757575;
     text-align: center;
     margin-top: 19px;
     margin-bottom: 24px;
 }
 .hot-product{
     width: 1226px;
     height: 455px;
     /*background: red;*/
     margin: 0 auto;
     margin-top: 40px;

 }
 .hothead{
     width: 1226px;
     height: 40px;
     /*background: yellow;*/
     position: relative;
 }
.hothead h3{

    font-weight: normal;
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
}
.hotmiddle ul li{
    width: 295px;
    height: 415px;
    /*position: relative;*/
    margin-right: 11px;
    float: left;
    transition: all .2s linear;

}
 .hotmiddle ul li:hover {
     transform: translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);

 }
 .hotmiddle ul:last-child
 {
     margin-right: 0px;
 }


 .hotmiddle li a img{
     display: block;
     width: 295px;
     height: 220px;
 }
 .hotmiddle{
     width: 1226px;
     height:415px ;
     /*background: brown;*/
 }
 .hots1{
     display: block;
 width:262px;
     color: #333;
     height: 62px;
     /*position: absolute;*/
     /*top: 253px;*/
     /*left: 15px;*/
     margin-top: 33px;
    padding-left: 17px;
     /*margin-right: 17px;*/
     padding-right: 17px;
     font-size: 14px;

 }
 .hots2{
     display: block;
     width:262px;
     color: #b0b0b0;
     /*height: 62px;*/
     /*position: absolute;*/
     /*top: 253px;*/
     /*left: 15px;*/
     margin-top: 30px;
     padding-left: 17px;
     /*margin-right: 17px;*/
     padding-right: 17px;
     font-size: 11px;

 }
 .hotb{
     width: 135px;
     height: 15px;
     /*background: #00a0c1;*/
     margin-top: 17px;
 }
 .hotb h3{
     font-size: 13px;
     font-weight: normal;
     float: left;
     margin-left: 17px;
     color:#333333 ;
 }
 .hotprice{
     float: right;
     font-size: 12px;
     color: #ff6734;
     width: 38px;
     height: 14px;
     padding-left: 9px;
     border-left: 2px solid #f0e7e0;

 }
 .content{
     width: 1226px;
     height: 460px;
     /*background: deeppink;*/
     margin-top: 40px;

 }
 .contenth{
     width: 1226px;
     height: 40px;
     /*background: #00a0c1;*/
 }
 .contenth h3{


     color:#333;
     font-size:21px ;
     font-weight: normal;
     margin-top: 0px;

 }
 .contentm{
     width: 1226px;
     height: 420px;
     /*background: brown;*/
     overflow: hidden;
 }
 .contentm ul li{
      width: 296px;
      height: 419px;
     float: left;
     margin-right: 14px;
     transition: all .2s linear;

  }
 .contentm ul li:hover{
     transform: translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);

 }


 .contentm ul li:last-child{
     margin-right: 0px;
 }
 .ch4{

    color: #ffac13;
    font-size: 14px;
    margin-top: 50px;
    text-align: center;

}
.cs1{
margin-top: 25px;
    display: block;
    font-size: 18px;
    color: #333;
    text-align: center;
}
.cs2{
    display: block;
    font-size: 11px;
    color:#bbcee9;
    text-align: center;
    margin-top: 12px;

}
.cs3 {
    display: block;
    margin-top: 19px;
    font-size: 13px;
    text-align: center;
}
.contentm ul li img{
    display: block;
    margin: 0 auto;
    margin-top: 14px;
}
 .contentb{
     width: 76px;
     height: 10px;
     /*background: #72ff88;*/
     margin-top: 20px;
     margin-left: 111px;
 }
 .concircle{
     width: 6px;
     height: 6px;
     border-radius: 50%;
     background: #b0b0b0;
     float: left;
     /*margin-right: 28px;*/
 }
 .contentb div:first-child{
     border:2px solid #ff6700;
     background: white;
 }
 .contentb div:nth-child(2){
     margin-left: 26px;
     margin-right: 28px;
     margin-top: 2px;
     background: #;
 }
 .contentb div:last-child{
     margin-top: 2px;
  }
 .video{
     width:1226px;
     height:  325px;
     /*background: #39383e;*/
 }
 .videohead{
     width: 1226px;
     height: 40px;
     /*background: #00a0c1;*/
 }
.videohead h4{
    font-weight: normal;
    font-size: 21px;
    color: #333;
    float: left;
}
.videomiddle{
    width: 1226px;
    height: 285px;
    /*background: yellow;*/
    /*overflow: hidden;*/
}
 .videomiddle ul li{
     width: 296px;
     height: 285px;
     /*margin-top: 19px;*/
     /*float: left;*/
     margin-right: 14px;
     /*transform:translateY(40px);*/
     transition: all .2s linear;
float: left;
     position: relative;
 }

 .videomiddle ul li:hover{
     transform:translateY(-5px);
     box-shadow: 0 5px 5px 5px rgba(117,117,117,0.1);

 }
 .icbox{
     width: 37px;
     height: 24px;
     /*background: #83c44e;*/
     border-radius: 12px;
     position: absolute;
     left: 20px;
     bottom: 117px;
     text-align: center;
     font-size: 12px;
     border: 2px solid white;
 }
 .icon-bofang{
     display: block;
     font-size: 20px;
     text-align: center;
     line-height:24px ;
     color: white;
 }
 .icbox:hover{
     background: #ffac13;
     border-radius: 12px;
     border: 0px solid;
     width: 41px;
     height: 28px;
 }
 .icon-play_icon:hover {
 background:black;
 }
 /*.videomiddle ul li a img:hover .icon-play_icon{*/
     /*background: #ff6700;*/

 /*}*/

 .videomiddle ul li:last-child{
     margin-right: 0;
 }
 .videomiddle ul li a img{
     display: block;
     width: 296px;
     height: 180px;
     /*position: relative;*/


 }
 .videotitle{
     font-size: 12px;
     text-align: center;
     color: #333;
     font-weight: normal;
     margin-top: 33px;
 }
 .vcon{
     display: block;
     text-align: center;
     color: #b0b0b0;
     font-size: 11px;
     margin-top: 13px;
 }
 .bback{
     width: 1226px;
     height: 430px;
     /*background: yellow;*/
     /*margin-top: 60px;*/
 }
 .bbackground{
     width:100% ;
     height: 430px;
     /*background: deeppink;*/
     margin-top: 60px;
 }
 .bhead{
     width: 1226px;
     height: 79px;
     /*background: #00a0c1;*/
     border-bottom: 1px solid #e0e0e0;
 }
 .bheadser{
     width: 245px;
     height: 79px;
     background: red;
     float: left;


 }



 .bhead ul li{
     float: left;
     width: 244px;
     height: 25px;
     border-right: 1px solid #e0e0e0;
     margin-top: 27px;
     color: #616161;

 }

 .bhead ul li a:hover{
     color:#ff703c;
 }
 .bhead ul li:last-child{
     width: 246px;
     border-right: 0;

 }
 .bhead ul li a{
     display: block;
     text-align: center;
     color:#616161 ;

 }
 .bmid{
     width: 1226px;
     height: 111px;
     /*background: red;*/
     margin-top: 40px;
 }
 .bmidl{
     width: 960px;
     height: 111px;
     /*background: #00a0c1;*/
     float: left;
 }
 .bmidr{
     width: 251px;
     height: 111px;
     /*background: deeppink;*/
     float: right;
     border-left: 1px solid #e0e0e0;
     position: relative;

 }
 .bmidl ul li{
     width: 160px;
     height: 111px;
     font-size: 12px;
     color: #424242;
     float: left;
 }
 .bmidl ul li a{
     display: block;
     font-size: 11px;
     color: #757575;



 }
 .bmidl ul li a:hover{
     color:#ff6700 ;
 }
 .bmidl ul li a:first-child{
     margin-top: 27px;
 }
 .bmidl ul li a:nth-child(2){
     margin-top: 12px;
     margin-bottom: 10px;
 }
 .bmidr p:first-child{
     font-size: 16px;
     color: #ff6700;
     text-align: center;

 }
 .bmidr p:nth-child(2){
     color:#616161;
     text-align: center;
     line-height: 19px;
     font-size: 11px;

 }
 .bmidr a{
     display: block;
     width: 118px;
     height: 28px;
     background: white;
     position: absolute;
     left: 66px;
     bottom: 4px;
     border: 1px solid #ff6700;
     /*color:#ff6700 ;*/
     text-align: center;
 }
 .bmidr a i{
     font-size: 12px;
     color: #ff6700;
 }
 .bmidr a span{
     font-size: 12px;
     color: #ff6700;
 }
 .bbot{
     width: 1226px;
     height: 57px;
     /*background: brown;*/
     margin-top: 67px;
 }
 .blogo{
     width: 57px;
     height: 57px;
     background: white;
     margin-right: 10px;
     float: left;
 }
 .bbot a{
     /*float: left;*/
 }
.bbotmid{
    width: 691px;
    height: 57px;
    /*background: #00a0c1;*/
    float: left;
}
.bbotr{
    width: 433px;
    height: 57px;
    /*background: black;*/
    float: right;
}
 .bbotmid a{
     display: block;
     font-size: 9px;
     float: left;
     margin-right: 2px;
     margin-left: 2px;

 }
 .bbotmid span{
     float: left;
     font-size: 13px;
     color:#757575 ;
 }

 .bbotmid a:hover{
     color: #ff6700;

 }
 .bbotmid a{
     color:#757575 ;

 }
 .bbotmid a:first-child{
     margin-left: 0px;

 }
 .bbotmid p{
     float: left;
     font-size: 11px;
     color: #b0b0b0;
     line-height: 18px;

 }
 .bbotr img{
     width: 82px;
     height: 29px;
 }
 .blast{
     width: 1226px;
     height: 75px;
     /*background: red;*/
     text-align: center;
     line-height: 75px;
     color: #bebebe;
     font-size: 17px;
     font-family: "楷体";
 }
























